<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moving car</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" media="screen and (max-width: 1046px)" href="../static/phone1.css">
    <script src="../static/script.js"></script>

</head>

<body>
    <div class="container">
        
        <div class="sky">
            <img src="../static/background.jpg" alt="skys">
        </div>
        <div class="trees">
            <img src="../static/trees.png" alt="tree">
        </div>
        <div class="track">
            <img src="../static/track.png" alt="track">
        </div>
        <div class="car">
            <img class="car_img" src="../static/car_body.png" alt="car">
            <div class="wheel_left">
                <img src="../static/car_wheel_left.png" alt="wheel_left">
            </div>
            <div class="wheel_right">
                <img src="../static/car_wheel_right.png" alt="wheel_right">
            </div>
        </div>
    </div>  
</body>

</html>